.TabelaProdutos th {
    background-color: #035353;
    color: #ffff;
    border-radius: 10px;
}

.TabelaProdutos table {
    width: 100%;
}

.TabelaProdutos .Par {
    background-color:#9bb2db;   
}
.TabelaProdutos .Impar {
    background-color:#48eaff;
}